.container {
    background: #7538FE;
    font-family: 'Didact Gothic', sans-serif;
    height: 100vh;
    opacity: 0.99;
    position: relative;
}

.container .jumbotron {
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
}

.container .mainHeader {
    color: #ffffff;
    font-size: 30px;
    /* line-height: 84px; */
    /* letter-spacing: 0.02em; */
    margin: 150px 0 0 230px;
}

.container .mainHeader span {
    color: #5AF5FF;
    font-weight: bold;
}

.container .ctaButtons {
    margin: 50px 0 0 230px;
}


.container .ctaButtons .slackButton {
    background: none;
    border: 5px solid #5AF5FF;
    cursor: pointer;
    color: #ffffff;
    font-size: 32px;
    padding: 20px 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .ctaButtons .slackButton:hover {
    opacity: 0.7;
}

.container .ctaButtons .docButton {
    background: none;
    border: 5px solid #5AF5FF;
    border-left: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 32px;
    padding: 20px 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container .ctaButtons .docButton:hover {
    opacity: 0.7;
}

.container .subContent {
    color: #ffffff;
    font-size: 20px;
    margin: 130px 120px 0 0;
    display: flex;
    justify-content: space-around;
}

.container .subContent .subHeader ul {
    margin-left: 25px;
}

.container .socialMedia {
    padding: 5px;
    position: absolute;
    margin-left: 93%;
    bottom: 25%;
    width: 80px;
}


.container .socialMedia span {
    color: #ffffff;
    font-size: 64px;
    margin: 0 20px;
}

.container .socialMedia span:hover {
    cursor: pointer;
}

.socialMedia .facebook:hover {
    color: rgb(76, 117, 201);
}

.socialMedia .twitter:hover {
    color: #1DA1F2;
}

.socialMedia .youtube:hover {
    color: #FF0000;
}

.container .scroll {
    position: absolute;
    bottom: 10%;
    transform: rotate(270deg);
    margin-bottom: 30px;
}

.container .scroll .scrollButton {
    height: 80px;
    width: 80px;
    background: #7538FE;
    border: 3px solid #5AF5FF;
    border-radius: 50%;
    color: #5AF5FF;
    font-size: 24px;
    padding: 25px;
    transform: rotate(90deg);
}

.container .scroll .scrollButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container .scroll .scrollText {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

/* Homepage Features */

.homeFeatures {
    background: #F4EFFF;
    height: 100vh;
}

.homeFeatures h2 {
    color: #231C38;
    font-size: 52px;
    padding-top: 100px;
    text-align: center;
}

.homeFeatures h2 span {
    color: #7538FE;
}

.homeFeatures .homeCards {
    display: flex;
    justify-content: space-evenly;
}

.homeFeatures .homeCards .card {
    color: #231C38;
    font-size: 30px;
    margin-top: 70px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.homeFeatures .homeCards .card .slackImg {
    margin-bottom: 80px;
    width: 300px;
}

.homeFeatures .homeCards .card .cardImg {
    margin: 0 15%;
    margin-bottom: 30px;
    width: 250px;
}